body {
    background-color: rgb(30,30,30);
    color: burlywood;
    font-family: monospace;
    font-size: 150%;
}
main {
    width: 90%;
    margin: 10px auto 100px;
    display: block;
    text-align: center;
}
:link {
    color: inherit;
}
:visited {
    color: inherit;
}
h1,
h2,
h3 {
    color: bisque;
}
h2 {
    margin: 50px 0 0
}

figure {
    /* height: 50px; */
    margin:10px 0;
}

figcaption {

    padding: 0 0 5px 0;
}

audio {
    background-color: transparent;
    color: red;
    transform: scale(1.1);filter: drop-shadow(2px 3px 3px #333);

}
