/* ==========================================================================
   Print
   ========================================================================== */

$doc-title                     : "OUILOGIQUE.COM";
$doc-subtitle                  : "Expérimentations d’un Maker en herbe";
$page-width-screen             : 400px;
$format                        : 1;
$print_cover                   : false;



@debug "****************************************";
@debug "* Processing “" #{unquote( $doc-title )} "” *"  ;
@debug "****************************************";



$body-font-family              : "Palatino";
$h1-font-family                : "Avenir Next Condensed";
$h2-font-family                : "Avenir Next";
$h3-font-family                : "Avenir Next";
$headfoot-font-family          : "Avenir Next";
$exergue-font-family           : $body-font-family;
$exergue-drop-font-family      : $body-font-family;
$page-width-diff               : 0cm !global;
$page-height-diff              : 0cm !global;
$image-margin                  : 1.97cm !global;
$h1-font-weight                : 400 !global;
$h2-font-weight                : 500 !global;
$h3-font-weight                : 500 !global;
$headfoot-font-size            : 9pt;

@if $format == 1
{
	// 6×9" CreateSpace
	$body-font-family          : "Times New Roman" !global;
	$h1-font-family            : "Times New Roman" !global;
	$h2-font-family            : "Times New Roman" !global;
	$h3-font-family            : "Times New Roman" !global;
	$headfoot-font-family      : "Times New Roman" !global;
	$h1-font-weight            : 900 !global;
	$h2-font-weight            : 900 !global;
	$h3-font-weight            : 900 !global;

	$page-width                : 21cm !global;
	$page-height               : 29.7cm !global;
	$page-margin-top           : 2cm !global;
	$page-margin-right         : 0cm !global;
	$page-margin-bottom        : 3cm - $page-height-diff !global;
	$page-margin-left          : 0 !global;
	$page-margin-inner         : $image-margin !global;
	$page-margin-outer         : $image-margin - $page-width-diff !global;
	$body-font-size            : 12pt !global;
	$poeme-font-size           : 10.5pt !global;
	$page-nb-lines             : 34 !global;
	$page-nb-lines-poeme       : 39 !global;
}
@else
{
	@warn "Format non définit";
}



$page-inner-width              : $page-width - $page-margin-outer - $page-margin-inner;
$page-inner-height             : $page-height - $page-margin-top - $page-margin-bottom;

$body-line-height              : ( ( $page-height - $page-margin-top - $page-margin-bottom ) / $page-nb-lines ) - 0.00001cm;
$body-line-height-poeme        : ( ( $page-height - $page-margin-top - $page-margin-bottom ) / $page-nb-lines-poeme ) - 0.00001cm;
$body-text-indent              : $body-line-height * 0.75;

$body-color                    : rgb( 10, 10, 10 );
$heading-color                 : $body-color;
// $brun-color                    : #ca700c;
$brun-color                    : $body-color;


$prince-hyphenate-after        : "prince-hyphenate-after";
$prince-hyphenate-before       : "prince-hyphenate-before";
$prince-page-group             : "prince-page-group";
$prince-hyphenate-lines        : "prince-hyphenate-lines";



@debug #{unquote( "$page-margin-bottom     =" )} $page-margin-bottom;
@debug #{unquote( "$page-margin-outer      =" )} $page-margin-outer;
@debug #{unquote( "$page-width             =" )} $page-width;
@debug #{unquote( "$page-inner-width       =" )} $page-inner-width;
@debug #{unquote( "$page-inner-height      =" )} $page-inner-height;
@debug #{unquote( "$body-line-height       =" )} $body-line-height;
@debug #{unquote( "$body-text-indent       =" )} $body-text-indent;
@debug "***************************************";
@debug "*                                     *";
@debug "***************************************";




@mixin page-noheadfoot
{
	@top-left-corner    { content: none; }
	@top-left           { content: none; }
	@top-center         { content: none; }
	@top-right          { content: none; }
	@top-right-corner   { content: none; }
	@right-top          { content: none; }
	@right-middle       { content: none; }
	@right-bottom       { content: none; }
	@bottom-right-corner{ content: none; }
	@bottom-right       { content: none; }
	@bottom-center      { content: none; }
	@bottom-left        { content: none; }
	@bottom-left-corner { content: none; }
	@left-bottom        { content: none; }
	@left-middle        { content: none; }
	@left-top           { content: none; }
}


body
{
	color                      : $body-color;
	counter-reset              : ctr-h1;
	font-family                : $body-font-family;
	font-size                  : $body-font-size;
	font-weight                : normal;
	// hyphenate-lines            : 1;
	hyphens                    : auto;
	letter-spacing             : normal;
	line-height                : $body-line-height;
	margin                     : 0;
	orphans                    : 2;
	padding                    : 0;
	#{$prince-hyphenate-after} : 3;
	#{$prince-hyphenate-before}: 3;
	#{$prince-hyphenate-lines} : 1 !important;
	prince-hyphenate-lines     : 1 !important;
	// prince-image-resolution: 1200dpi;
	// prince-background-image-resolution: 5000dpi;
	prince-text-replace        : " ?"   "\202F?"
								 " !"   "\202F!"
								 " :"   "\202F:"
								 " ;"   "\202F;"
								 " »"   "\202F»"
								 "« "   "«\202F";
	text-align                 : justify;
	text-indent                : 0;
	word-spacing               : -0.1em;
	widows                     : 2;
}

sup, sub
{
	height                     : 0;
	line-height                : 1;
	vertical-align             : baseline;
	position                   : relative;
	font-size                  : 0.65em;
}

sub { top                      : 0.5ex; }
sup { bottom                   : 1ex; }

a
{
	text-decoration            : none;
	color                      : inherit;
}


p
{
	margin-top                 : $body-line-height * 0;
	margin-bottom              : $body-line-height * 1;
	text-indent                : $body-text-indent;
}
h2 + p
{
	text-indent                : 0;
}

div.poeme-container
{
	// page                               : page-noheadfoot !important;
	display: table;
	width: 100%;
	height                             : $page-inner-height;
	page-break-before                  : left !important;

	div.poeme
	{
		$padding-poeme                 : 0.0cm;
		display                        : table-cell;
		padding-left                   : $padding-poeme;
		padding-right                  : $padding-poeme;
		font-size                      : $poeme-font-size;
		font-style                     : italic;
		line-height                    : $body-line-height-poeme;
		vertical-align: middle;

		p
		{
			margin-top                 : $body-line-height * 1;
			margin-bottom              : $body-line-height * 0;
			text-indent                : $body-text-indent * 0;
			text-align                 : center;
			hyphens                    : none;
		}
		&.brun
		{
			h3
			{
				font-style             : normal;
			}
			*
			{
				font-style             : normal;
				color                  : $brun-color;
			}
		}
	}
}


h1:before
{
	// content                    : counter( ctr-h1 ) "  ";
	white-space                : pre-wrap;
	font-weight                : 600;
}
h1
{
	color                      : $heading-color;
	counter-increment          : ctr-h1;
	font-family                : $h1-font-family;
	font-size                  : 25pt;
	font-stretch               : ultra-condensed;
	font-variant               : normal;
	font-weight                : $h1-font-weight;
	hyphens                    : none;
	letter-spacing             : 0.02em;
	line-height                : $body-line-height * 4;
	margin-bottom              : 0;
	margin-left                : 0;
	margin-right               : 0;
	margin-top                 : $body-line-height * 15;
	orphans                    : 1;
	padding                    : 0;
	page-break-after           : auto;
	page-break-before          : right;
	page-break-inside          : auto;
	string-set                 : str-h1 content();
	text-align                 : center;
	text-transform             : uppercase;
	widows                     : 1;
	word-spacing               : 0.02em;
}

h2
{
	color                      : $heading-color;
	font-family                : $h2-font-family;
	font-size                  : $body-font-size * 1.0;
	font-stretch               : normal;
	font-variant               : small-caps;
	font-weight                : $h2-font-weight;
	hyphens                    : none;
	letter-spacing             : 0.02em;
	line-height                : $body-line-height * 1;
	margin-bottom              : $body-line-height * 1;
	margin-left                : 0;
	margin-right               : 0;
	margin-top                 : $body-line-height * 4;
	orphans                    : 1;
	padding-bottom             : 0;
	padding-left               : 0;
	padding-right              : 0;
	padding-top                : $body-line-height * 1;
	page-break-after           : avoid;
	page-break-before          : auto;
	page-break-inside          : auto;
	string-set                 : str-h2 content();
	text-align                 : center;
	text-transform             : uppercase;
	widows                     : 1;
	word-spacing               : 0.02em;
}
h2:first-of-type
{
	margin-top                 : 0;
}

h3
{
	color                      : $heading-color;
	font-family                : $h3-font-family;
	font-size                  : $body-font-size * 1;
	font-style                 : italic;
	font-stretch               : normal;
	font-variant               : normal;
	font-weight                : $h3-font-weight;
	hyphens                    : none;
	letter-spacing             : 0.02em;
	line-height                : $body-line-height * 1;
	margin-bottom              : $body-line-height * 1;
	margin-left                : 0;
	margin-right               : 0;
	margin-top                 : $body-line-height * 0;
	orphans                    : 1;
	padding-bottom             : 0;
	padding-left               : 0;
	padding-right              : 0;
	padding-top                : $body-line-height * 0;
	page-break-after           : avoid;
	page-break-before          : auto;
	page-break-inside          : auto;
	// string-set                 : str-h2 content();
	text-align                 : center;
	text-transform             : none;
	widows                     : 1;
	word-spacing               : 0.02em;
}

blockquote.exergue
{
	font-family                : $exergue-font-family;
	font-style                 : italic;
	line-height                : $body-line-height;
	margin-bottom              : 0;
	margin-left                : 3.0cm;
	margin-right               : 0;
	margin-top                 : 0;
	padding                    : 0;
	page-break-after           : always;
	p
	{
		text-indent            : 0;
	}
	h1#Un_fait_divers   + &    { margin-left: 4.2cm; }
	h1#Ma_mere          + &    { margin-left: 4.0cm; }
	h1#Mon_enfance      + &    { margin-left: 1.7cm; }
	h1#Mon_pere         + &    { margin-left: 2.4cm; }
	h1#Fin_du_cauchemar + &    { margin-left: 3.9cm; }
	h1#Consequences     + &    { margin-left: 3.0cm; }
	h1#Se_reconstruire  + &    { margin-left: 4.2cm; }
	h1#Le_pardon_1      + &    { margin-left: 1.8cm; }
	h1#Remerciements    + &    { margin-left: 2.7cm; }
}

blockquote.exergue span.drop
{
	float                      : left;
	font-family                : $exergue-drop-font-family;
	font-size                  : $body-line-height * 4.2;
	line-height                : $body-line-height * 2.9;
	margin-left                : -27pt;
	padding-left               : -10pt;
	padding-right              : 8pt;
	position                   : relative;
	top                        : -3.2pt;
}


ul
{
	// list-style-type            : none;
	margin-left                : 1.0cm;
	margin-right               : 1.0cm;
	margin-bottom              : $body-line-height;
	li
	{
		font-style             : italic;
		line-height            : $body-line-height;
		margin-bottom          : $body-line-height * 0;
		margin-top             : $body-line-height * 0;
		text-align             : justify;
	}
}
.citation_texte
{
	margin-left                : 0.5cm;
	margin-right               : 0.5cm;
	font-style                 : italic;
	text-indent                : 0;
}
.mis-en-avant
{
	text-indent                : 0;
	font-style                 : italic;
	text-align                 : center;
}
.center
{
	text-align                 : center;
	text-indent                : 0;
}


div.s1
{
	page-break-before          : always;
	#{prince-page-group}       : start;
	page                       : page-s1;
	p:nth-child( 1 )
	{
		text-indent            : 0;
	}

}
div.s-section
{
	page                       : page-noheadfoot;
}
.empty_page
{
	display                    : none;
}


.page-break-before-avoid
{
	page-break-before          : avoid;
}
.page-break-inside-avoid
{
	page-break-inside          : avoid;
}
.page-break-after-avoid
{
	page-break-after           : avoid;
}
.page-break-before-auto
{
	page-break-before          : auto;
}
.page-break-inside-auto
{
	page-break-inside          : auto;
}
.page-break-after-auto
{
	page-break-after           : auto;
}
div.page-break-before-right
{
	page-break-before          : right;
}
.page-break-before-left
{
	page-break-before          : left;
}














div#s_toc
{
	counter-reset              : ctr-ph1 0;
	margin                     : 0;
	padding                    : 0;
	page-break-before          : left;
	page                       : page-toc;
	& h1:before
	{
		content                : none;
	}
	& a
	{
		color                  : black;
		text-decoration        : none;
	}
	& a::after
	{
		content                : ' ' leader( '. ' ) target-counter( attr( href ), page );
		font-style             : normal;
	}
	& p
	{
		font-family            : "Avenir Next";
		font-size              : $body-font-size * 0.9;
		font-weight            : 400;
		margin                 : 0;
		font-variant           : small-caps;
		line-height            : $body-line-height;
		text-indent            : 0;
	}
	& p.h1:before
	{
		content                : counter( ctr-ph1 ) " — ";
	}
	& p.h1
	{
		counter-increment      : ctr-ph1;
		font-weight            : 600;
		margin-left            : -0.5cm;
		margin-top             : $body-line-height;
		page-break-after       : avoid;
		text-transform         : uppercase;
	}
	& p#s_toc_no_nb:before
	{
		content                : none;
	}
}






@mixin page-headfoot
{
	font-size                  : $body-font-size * 0.85;
	font-variant               : small-caps;
	text-transform             : uppercase;
	font-family                : $headfoot-font-family;
	color                      : #000;
	font-weight                : 400;
}
@mixin page-headfoot-pagenb
{
	@include page-headfoot;
	font-weight                : 600;
}

@page
{
	size                       : $page-width $page-height;
	margin                     : $page-margin-top $page-margin-right $page-margin-bottom $page-margin-left;
	font-family                : $body-font-family;
	font-weight                : normal;
	font-size                  : $body-font-size;
//	marks                      : crop;
}
@page:left
{
	font-size                  : 60%;
	font-stretch               : ultra-condensed;
	margin-left                : $page-margin-outer;
	margin-right               : $page-margin-inner;
	@bottom-center
	{
		color                  : $body-color !important;
		font-size              : $headfoot-font-size !important;
		content                : string( doc-title );
		margin-left            : 0;
		margin-right           : 0;
		text-align             : center;
		@include page-headfoot;
	}
	@bottom-left
	{
		color                  : $body-color !important;
		font-size              : $headfoot-font-size !important;
		content                : string( ctr-page-nb );
		margin-left            : 0;
		margin-right           : 0;
		text-align             : left;
		@include page-headfoot-pagenb;
	}
}
@page:right
{
	font-stretch               : ultra-condensed;
	margin-left                : $page-margin-inner;
	margin-right               : $page-margin-outer;
	@bottom-center
	{
		color                  : $body-color !important;
		font-size              : $headfoot-font-size !important;
		content                : string( doc-subtitle );
		margin-left            : 0;
		margin-right           : 0;
		text-align             : center;
		@include page-headfoot;
	}
	@bottom-right
	{
		color                  : $body-color !important;
		font-size              : $headfoot-font-size !important;
		content                : string( ctr-page-nb );
		margin-left            : 0;
		margin-right           : 0;
		text-align             : right;
		@include page-headfoot-pagenb;
	}
}

@page :blank
{
  @include page-noheadfoot;
}

div.page-noheadfoot
{
	page                       : page-noheadfoot;
}
@page page-noheadfoot
{
	@include page-noheadfoot;
}
@page page-figure
{
	// @include page-noheadfoot;
	margin-top                 : $image-margin;
	margin-right               : $image-margin;
	margin-bottom              : $page-margin-bottom; //$image-margin;
	margin-left                : $image-margin;

	padding                    : 0;
}
// @page page-s1:first
// {
// 	@include page-noheadfoot;
// }


.page-ctr-reset
{
	counter-reset              : page 1;
}

.page-right
{
	page-break-before          : right;
}
.page-new
{
	page-break-before          : always;
}











div.s-cover
{
	font-family                : 'League Gothic';
	page                       : page-cover;
	text-transform             : uppercase;
	.nom
	{
		$padding-top           : $page-height / 20;
		$padding-bottom        : 0;
		$font-size             : 1.2cm;
		background-color       : inherit;
		color                  : #0f243e;
		display                : block;
		font-size              : $font-size;
		font-stretch           : normal;
		font-weight            : 100;
		height                 : 3cm - ( $padding-top + $padding-bottom );
		letter-spacing         : normal;
		line-height            : $font-size * 0.85;
		margin                 : 0;
		padding                : $padding-top 0 $padding-bottom;
		text-align             : center;
		text-indent            : 0;
		width                  : auto;
	}
	.titre
	{
		$padding-top           : 0.5cm;
		$padding-bottom        : $padding-top - 0.1cm;
		$font-size             : 3cm;
		$line-height           : $font-size * 0.85;
		background-color       : firebrick;
		color                  : white;
		display                : block;
		font-size              : $font-size;
		font-stretch           : normal;
		font-weight            : 100;
		height                 : $line-height * 2 ;
		line-height            : $line-height;
		margin                 : 0;
		padding                : $padding-top 0 $padding-bottom;
		text-align             : center;
		text-indent            : 0;
		width                  : auto;
	}
	.image
	{

	}
	img
	{
		height                 : 8cm;
		width                  : 8cm;
		margin                 : 1cm auto 0.5cm;
		display                : block;
	}
	.sous-titre
	{
		$padding-top           : 0.5cm;
		$padding-bottom        : 0;
		$font-size             : 0.7cm;
		background-color       : inherit;
		color                  : #17365d;
		display                : block;
		font-size              : $font-size;
		font-stretch           : normal;
		font-weight            : inherit;
		height                 : 2cm - $page-height-diff;
		line-height            : $font-size * 0.85;
		margin                 : 0;
		padding                : $padding-top 0 $padding-bottom;
		text-align             : center;
		text-indent            : 0;
		width                  : auto;
	}
	.last_letter
	{
		letter-spacing         : 0;
	}
}
@page page-cover
{
	margin                     : 0;
	padding                    : 0;
	@include page-noheadfoot;
}


div.s-page-2
{
	text-align                 : center;
	font-size                  : 10pt;
	margin-top                 : $body-line-height * 24;
	page                       : page-cover;
	p
	{
		text-indent            : 0;
		margin-bottom          : $body-line-height / 2;
	}
	a
	{
		font-weight            : 900;
	}
}


div.s-page-3
{
	font-family                : inherit;
	page                       : page-cover;
	p:nth-child( 1 ) // nom
	{
		$padding-top           : $page-height / 10;
		$padding-bottom        : 0;
		$font-size             : 15pt;
		background-color       : inherit;
		color                  : inherit;
		display                : block;
		font-size              : $font-size;
		font-stretch           : normal;
		font-weight            : 100;
		height                 : $page-height / 3 - ( $padding-top + $padding-bottom );
		letter-spacing         : 0.1em;
		line-height            : $font-size * 0.85;
		margin                 : 0;
		padding                : $padding-top 0 $padding-bottom;
		text-align             : center;
		text-indent            : 0;
		text-transform         : uppercase;
		width                  : auto;
	}
	p:nth-child( 2 ) strong // titre
	{
		$padding-top           : 0.3cm;
		$padding-bottom        : 0;
		$font-size             : 25pt;
		background-color       : inherit;
		color                  : inherit;
		display                : block;
		font-size              : $font-size;
		font-stretch           : normal;
		font-weight            : normal;
		// height                 : $page-height / 3 - ( $padding-top + $padding-bottom );
		line-height            : normal;
		margin                 : 0;
		padding                : $padding-top 0 $padding-bottom;
		text-align             : center;
		text-indent            : 0;
		width                  : auto;
	}
	p:nth-child( 3 ) em // sous-titre
	{
		$padding-top           : 2cm;//$page-height / 40;
		$padding-bottom        : 0;
		$font-size             : $page-height / 39;
		background-color       : inherit;
		color                  : inherit;
		display                : block;
		font-size              : $font-size;
		font-stretch           : normal;
		font-weight            : inherit;
		// height                 : $page-height / 3 - ( $padding-top + $padding-bottom ) - $page-height-diff;
		line-height            : $body-line-height;  //$font-size * 0.85;
		margin                 : 0;
		padding                : $padding-top 0 0;
		text-align             : center;
		text-indent            : 0;
		// text-transform         : uppercase;
		width                  : auto;
	}
	p:nth-child( 4 ) // sous-titre
	{
		$padding-top           : 0cm;//$page-height / 40;
		$padding-bottom        : 0;
		$font-size             : 9pt;
		background-color       : inherit;
		color                  : inherit;
		display                : block;
		font-size              : $font-size;
		font-stretch           : normal;
		font-weight            : inherit;
		// height                 : $page-height / 3 - ( $padding-top + $padding-bottom ) - $page-height-diff;
		line-height            : $body-line-height;  //$font-size * 0.85;
		margin                 : 4cm;
		padding                : $padding-top 0 $padding-bottom;
		text-align             : center;
		text-indent            : 0;
		// text-transform         : uppercase;
		width                  : auto;
	}
	.last_letter
	{
		letter-spacing         : 0;
	}
}

div.copyright
{
	text-align                 : center;
	font-size                  : 9pt;
	margin-top                 : $body-line-height * 35;
	page                       : page-cover;
	p
	{
		text-indent            : 0;
		margin-bottom          : 0;
		padding                : 0;
	}
}

div.s-revision
{
	text-align                 : center;
	font-size                  : 9pt;
	margin-top                 : $body-line-height * 10;
	page                       : page-cover;
	p
	{
		text-indent            : 0;
		line-height            : $body-line-height * 1;
		margin-top             : 0;
		margin-bottom          : 0;
	}
}

div.s-preface
{
	page-break-before          : right;

	.signature
	{
		font-style             : italic;
		margin-left            : 5.5cm;
		page-break-before      : avoid;
		page-break-inside      : avoid;
		text-align             : left;
		text-indent            : 0;
	}
}

@page page-preface:left
{
	@bottom-center
	{
		content                : "";
	}

}
@page page-preface:right
{
	@bottom-center
	{
		content                : "";
	}
}


@page page-toc:first
{
	@bottom-center
	{
		content                : none;
	}
}
@page page-toc:right
{
	@bottom-center
	{
		content                : string( str-h1 );
	}
}



p.La_loi_sur_l_aide_aux_victimes
{
	font-style: italic;
}


.dedicace
{
	text-align                 : right;
	margin-top                 : $body-line-height * 14;
}


div.backcover
{
	font-size                  : 12pt;
	line-height                : 14pt;
	page                       : backcover;
	page-break-before          : right;
	text-align                 : center;
	p.titre
	{
		color                  : firebrick;
		font-family            : 'League Gothic';
		font-size              : 20pt;
		letter-spacing         : 0.06em;
		margin-bottom          : $body-line-height * 0.5;
		text-align             : center;
		text-transform         : uppercase;
		word-spacing           : 0.03em;
	}
	div
	{
		background-color       : #0f243e;
		background-color       : #17365d;
		background-color       : inherit;
		font-style             : normal;
		margin-top             : $body-line-height * 0;
		margin-bottom          : $body-line-height * 1;
		padding-bottom         : $body-line-height * 0.25;
		padding-left           : $body-line-height * 0.5;
		padding-right          : $body-line-height * 0.5;
		padding-top            : $body-line-height * 0.5;
		text-align             : center;

		& :last-child
		{
			margin-bottom      : $body-line-height * 0.25;
		}
	}
	p
	{
		text-indent            : 0;
	}
	> p
	{
		font-weight            : 900;
		margin                 : 0;
	}
	img#isbn_barcode
	{
		height                 : 600 * 0.005cm;
		width                  : 1433 * 0.005cm;
		margin-left            : 3.5cm;
		margin-top             : 0.9cm;
	}


}

@page backcover
{
	margin                     : 1cm $page-margin-outer 0;
	@include page-noheadfoot;
}






del
{
	display                    : none;
}
ins
{
	text-decoration            : none;
}




div.cols-2
{
	-webkit-column-count       : 2;
    -moz-column-count          : 2;
    column-count               : 2;
	-webkit-column-width       : 49%;
	-moz-column-width          : 49%;
	column-width               : 49%;
}

hr
{
	page-break-after          : always;
	border                     : 0.05mm solid black;
	margin                     : 0 2cm 0;
	visibility                 : hidden;
}


div.figure-container
{
	page                           : page-figure;
	display                        : table;
	height                         : $page-height - $image-margin - $page-margin-bottom ;
	margin                         : 0;
	padding                        : 0;
}
div.figure
{
	display                        : table-cell;
	vertical-align                 : middle;
	margin                         : 0;
	padding                        : 0;
	img
	{
		width                      : 100%;
		margin                     : 0;
		padding                    : 0;
	}
}
div.biographie
{
	page-break-before              : right;
	page                           : page-noheadfoot;
}

div.s1
{
	string-set                     : doc-title $doc-title,
	                                 doc-subtitle $doc-subtitle,
                                     ctr-page-nb counter( page );
}
div.no-page-nb-on-last-page > :nth-last-child( 1 )::after
{
	string-set                 : doc-title "",
                                 doc-subtitle "",
                                 ctr-page-nb "";

	content: "\200B";
}

div.prose
{
	// line-height: $body-line-height *1.5;
	// margin-left                : 1.0cm;
	// margin-right               : 1.0cm;
}



@if $print_cover == false
{
	div.backcover, div.s-cover
	{
		display                : none;
	}
}

/////////////////////////////////////////////////////////////////////

div.toc
{
	display                    : none;
}
strong
{
	font-weight: normal !important;
	font-style: italic;
}
div.s-page-3 strong
{
	font-weight: bold !important;
	font-style: normal;
}
@page:left  { @bottom-left  { font-weight: normal !important; } }
@page:right { @bottom-right { font-weight: normal !important; } }




// div#nav-toggle {
// 	display: none;
// }